<h2 align="center" style="background-color:MediumSeaGreen"><i><b>Global Warmings List</b></i></h2>

<table class="table">
    <thead>
        <tr align="center">
            <th>solarPlant</th>
            <th>peakPower</th>
            <th>temperature</th>
            <th>name</th>
            <th>year</th>
            
             
            

        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input class="form-control" ng-model="newGlobal.solarPlant" /></td>
             <td><input class="form-control" ng-model="newGlobal.peakPower" /></td>
             <td><input class="form-control" ng-model="newGlobal.temperature" /></td>
            <td><input class="form-control" ng-model="newGlobal.name" /></td>
            <td><input class="form-control" ng-model="newGlobal.year" /></td>
            
           

            <td><button class="button btn-primary" ng-click="addGlobal()"> Add</button></td>

        </tr>
        <tr ng-repeat="plant in solarPlants" >
           
            <td ><a href="/#!/solarPlant/{{plant.solarPlant}}">{{plant.solarPlant}}</a></td>
            <td>{{plant.peakPower}}</td>
            <td>{{plant.temperature}}</td>
            <td>{{plant.name}}</td>
            <td>{{plant.year}}</td>
            
            
            <td><button class="button btn-danger" ng-click="deleteGlobal(plant.solarPlant)">Delete</button></td>
        </tr>
        
    </tbody>
   <MARQUEE><font color="grey" face="Comic Sans MS,arial,verdana">{{status}}</font></MARQUEE>
  
   <table  align="right">
   <tr>
       <td><button class="button btn-primary" ng-click="getGlobalNext()" >Next page</button></td> 
    </tr>
    </table>
    
    <table>
        <tr>
        <td><button class="button btn-primary" ng-click="getGlobalPrev()">Previous page</button></td>
        </tr>
    </table>
    <br />
    <br />
    <br />
    <br />
    <tr>
    
            <td><button class="button btn-danger" ng-click="deleteAllGlobal()">Delete all</button></td> 
            <td><button class="button btn-danger" ng-click="loadInitialData()">Load Initial Data</button></td> 
   
   </tr>
   
</table>
    <br />
    <br />
    <br />
    <br />    
    <small><i><b>Perform a search by year: </b></i></small>
    <br />
    <br />
    <table>       
        
            <th><b>From</b></th>
            <td><input class="form-control" ng-model="newGlobal.from" /></td>
            <th><b>To</b></th>
            <td><input class="form-control" ng-model="newGlobal.to" /></td>
            <td><button class="button btn-primary" ng-click="getGlobal()"> Search</button></td>
            
            
    </table>     
<hr/>
<br/>

 
 

